<!DOCTYPE html>
<html>
    <head>
        <title>Ultrec Engineered Products</title>
        <link rel="stylesheet" href="/styles/main.css"></link>
        <link rel="stylesheet" href="/styles/header.css"></link>
        <link rel="stylesheet" href="/styles/home.css"></link>
    </head>
    <body>
      <div class="header-wrapper">
        <div class="header">
          <h1>ULTREC</h1>
          <h2>"Innovative Products for the Outdoorsman"</h2>
        </div>
        <div class="menu">
          <a href="#" class="menu-item">Home</a>
          <a href="#" class="menu-item">Products</a>
          <a href="#" class="menu-item">About Us</a>
          <a href="#" class="menu-item">Return Policy</a>
          <a href="#" class="menu-item">Testimonials</a>
          <a href="#" class="menu-item">Resources</a>
          <a href="#" class="menu-item">Contact Us</a>
          <a href="#" class="menu-item">View Cart</a>
        </div>
      </div>