<% include partials/header %>

<div class="home">
  <div class="home-grid">
    <div class="row">
      <div class="column">
        <a href="#" class="grid-item">
          <img src="http://ultrec.com/images/product_QCTC-SB.jpg">
          <h2>Quick-Change™ Carbon Fiber Sticks</h2>
        </a>
      </div>
      <div class="column">
        <a href="#" class="grid-item">
          <img src="http://ultrec.com/images/product_QCT-SB.jpg">
          <h2>Quick-Change™ Sticks</h2>
        </a>
      </div>
      <div class="column">
        <a href="#" class="grid-item">
          <img src="http://ultrec.com/images/product_QCTP_SB_3.jpg">
          <h2>Quick-Change™ Pro Sticks</h2>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <a href="#" class="grid-item">
          <img src="http://ultrec.com/images/product_PH-SNS-SB.jpg">
          <h2>Spot-n-Shoot™ Carbon Fiber Sticks</h2>
        </a>
      </div>
      <div class="column">
        <a href="#" class="grid-item">
          <img src="http://ultrec.com/images/product_mpss_shooting.jpg">
          <h2>Multi-Purpose Sportsman Stand</h2>
        </a>
      </div>
      <div class="column">
        <a href="#" class="grid-item">
          <img src="http://ultrec.com/images/product_QCTC-SB.jpg">
          <h2>Pro-Hunter™ Sticks</h2>
        </a>
      </div>
    </div>
  </div>
  <div class="home-sidebar">
  </div>
</div>

<% include partials/footer %>